doctype html
html
    head
        title Kontena feature branches demo
        link(href='styles.css', rel='stylesheet')
        meta(charset='UTF-8')
    body
        main Hello from server side!
            p.hidden Oh noes! Styles were not loaded :(
            p#time Oh noes! Scripts were not loaded :(
            p#api
        script(type="text/javascript", src="https://code.jquery.com/jquery-1.12.4.min.js")
        script(type="text/javascript", src="index.js")
